# ignore everything (dirs, files, sub-dirs, sub-files)
/*

!/.Xmodmap
!/.bash_aliases
!/.bash_profile
!/.bashrc


!/.config/
/.config/*

!/.config/i3/
/.config/i3/*

!/.config/i3/config
!/.config/i3/switch_ime.sh

!/.config/i3status/
/.config/i3status/*

!/.config/i3status/config

!/.gitignore
!/.profile
!/.config/screen/screen_layout
!/.config/screen/screenrc
!/.config/tmux/tmux.conf


!/.config/vim/
/.config/vim/*
!/.config/vim/after/
/.config/vim/after/*
/.config/vim/after/ftplugin/
!/.config/vim/after/ftplugin/*
!/.config/vim/after/ftplugin/yaml.vim
!/.config/vim/ftdetect/
/.config/vim/ftdetect/*
!/.config/vim/ftdetect/sls.vim
!/.config/vim/vimrc

!/LICENSE
!/README.md
