# ignore everything (dirs, files, sub-dirs, sub-files)
/*

!/.Xmodmap
!/.bash_aliases
!/.bash_profile
!/.bashrc

!/.config/
/.config/*
!/.config/i3/
/.config/i3/*

!/.config/i3/config
!/.config/i3/switch_ime.sh

!/.config/i3status/
/.config/i3status/*

!/.config/i3status/config

!/.gitignore
!/.profile
!/.config/screen/screen_layout
!/.config/screen/screenrc
!/.config/tmux/tmux.conf

!/.vim/
/.vim/*
!/.vim/after/
/.vim/after/*
/.vim/after/ftplugin/
!/.vim/after/ftplugin/*

!/.vim/after/ftplugin/yaml.vim

!/.vim/ftdetect/
/.vim/ftdetect/*

!/.vim/ftdetect/sls.vim

!/.vimrc
!/LICENSE
!/README.md
