*

!.Xmodmap
!.bash_aliases
!.bash_profile
!.bashrc
!.config/i3/config
!.config/i3/switch_ime.sh
!.config/i3status/config
!.gitignore
!.profile
!.screen_layout
!.screenrc
!.tmux.conf
!.vim/after/ftplugin/yaml.vim
!.vim/ftdetect/sls.vim
!.vimrc
!LICENSE
!README.md
